<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Prediction Defect
  </h1>
</div>

<div class="row">
  <br>
</div>

<div class="row">
  <div class="col-sm-8 offset-sm-2">

    <div class="card-deck">

        <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <div>
            <mat-form-field>
              <mat-select placeholder="Tracker" required [(value)]="selectedTrackerType">
                <mat-option *ngFor="let type of trackerType" [value]="type.value">
                  {{ type.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Defect detail" rows="5" required [(ngModel)]="detailInput"></textarea>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-select placeholder="Priority" required [(value)]="selectedPriorityType">
                <mat-option *ngFor="let type of priorityType" [value]="type.value">
                  {{ type.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="text-center ">
            <a href="#" class="btn btn-success" (click)="click()">Predict</a>
          </div>
        </div>
      </div>
        </div>


      <div class="card border" *ngIf="isShow" [class.border-success]="isSuccess" [class.border-danger]="!isSuccess">
        <div class="card-body">
          <h5 class="card-title">Result</h5>
          <p class="card-text">
            Tracker : {{trackerTypeResult}}
          </p>
          <p class="card-text">
            Defect detail : {{detailResult}}
          </p>
          <p class="card-text">
            Priority : {{priorityTypeResult}}
          </p>
          <h3 class="card-text  text-center" [class.text-success]="isSuccess" [class.text-danger]="!isSuccess">
              {{result}}
          </h3>
          <br>
          <p class="card-text text-center">
            {{resultMsg}}
          </p>
          <p class="card-text" *ngIf="!isSuccess">
            วิธีแก้ปัญหา : 
          </p><div [innerHTML]="resultSolution"></div>


        </div>

      </div>
    </div>
  </div>
</div>


